
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.login {
    margin-top: 150px;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    display: flex;
    border: 1px solid;
    border-color: rgb(208, 93, 93);
    flex-direction: column;
    justify-content: center;
    width: 340px;
    height: 350px;
    padding: 30px;
    background: rgba(37, 18, 18, 0.3);
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    /* Center the form */
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    margin: 20px 0 40px 0;
}

.title header {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.New-name .New-nameIN {
    width: 100%;
    height: 100%;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 19px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
    outline: none;
    transition: .3s;
}

::placeholder {
    font-weight: 500;
    color: #222;
}

.Signin .Signin-1 {
    width: 100%;
    height: 100%;
    padding: 0 25px;
    margin-top: 20px;
    font-size: 17px;
    border-radius: 30px;
    border: 0;
    outline: none;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
    color: black;
    transition: .3s ease;
}

.Signin-1 {
    font-weight: bold;
}

.Signin-1:active {
    background-color: rgb(224, 203, 244);
}


@media (max-width: 768px) {
    .login {
        width: 80%;  
        padding: 20px;
        margin-top: 100px;
        height: auto; 
    }

    .title header {
        font-size: 24px;
    }

    .New-name .New-nameIN,
    .Signin .Signin-1 {
        font-size: 16px; 
        padding: 0 15px; 
    }

    .Signin .Signin-1 {
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .login {
        width: 90%;  
        margin-top: 50px; 
        height: auto; 
        padding: 15px; 
    }

    .title header {
        font-size: 20px; 
    }

    .New-name .New-nameIN,
    .Signin .Signin-1 {
        font-size: 15px;
        padding: 0 10px; 
        margin-bottom: 10px; 
    }

    .Signin .Signin-1 {
        margin-top: 10px; 
    }
}
